.color{
    background-color: #1C1C1C;
    .jumboTron{
        img{
            width:100%;
        };
    }
}

.container{
    
    max-width: 1200px;
    margin: 0 auto;
    
    .row{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:stretch ;
        .col{
            vertical-align: top;
            
            width: calc(100% / 6 - 20px);
            margin: 10px;
            img{
                width: 100%;
            }
            h2{
                color: white;
            }
        }
    }
}