.container{
    max-width: 1200px;
    margin: 0 auto;
    .row{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .col{
            background-color: blue;
            width: calc(100% / 6 - 20px);
            margin: 10px;
            img{
                width: 100%;
            }
            h2{
                color: white;
            }
        }
    }
}